.chat-window {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border: 4px solid var(--second-color);
  box-sizing: border-box;
}

.chat-window__display {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: scroll;
  padding: 10px;
  height: 85vh;
}

.chat-window__message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: fit-content;
}

.chat-window__message-container_type_current-user {
  align-self: flex-end;
}

.chat-window__message-empty {
  color: var(--second-color);
  font-size: var(--text-font-size);
  text-align: center;
  margin: 0;
  padding: 0;
}

.chat-window__message-background {
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 5px;
}

.chat-window__message-text {
  margin: 0;
  font-size: var(--text-font-size);
  word-break: break-all;
}

.chat-window__message-user {
  font-size: 10px;
  color: var(--main-color);
  margin-bottom: 5px;
}

.chat-window__form {
  display: flex;
  padding: 2vh 1vh 5vh 1vh;
  background-color: var(--main-color);
  border-top: 4px solid var(--second-color);
}

.chat-window__text-area {
  border-radius: 10px;
  height: 100%;
  width: 80%;
  background-color: inherit;
  margin-right: 5px;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--text-font-size);
}

.chat-window__text-area:focus {
  outline: none;
  opacity: 0.8;
}

.chat-window__text-area::placeholder {
  color: var(--second-color);
}

.chat-window__button {
  width: 27px;
  border: none;
  padding: 0;
  margin: 0 auto;
  background-color: inherit;
  cursor: pointer;
  position: relative;
}

.chat-window__button:hover {
  opacity: 0.6;
}

.chat-window__button::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: var(--second-color);
  top: 9px;
  left: 3px;
  transform: rotate(25deg);
}

.chat-window__button::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: var(--second-color);
  top: 16px;
  left: 3px;
  transform: rotate(165deg);
}

@media screen and (min-width: 768px) {
  .chat-window {
    width: 50%;
  }

  .chat-window__display {
    padding: 10px 30px 10px 30px;
  }

  .chat-window__form {
    padding: 15px;
  }

  .chat-window__button {
    width: 55px;
  }

  .chat-window__button::before {
    top: 9px;
    left: 18px;
    transform: rotate(25deg);
  }

  .chat-window__button::after {
    top: 16px;
    left: 18px;
    transform: rotate(165deg);
  }
}

@media screen and (min-width: 1024px) {
  .chat-window__form {
    padding: 20px;
  }

  .chat-window__display {
    padding: 10px 40px 10px 40px;
  }

  .chat-window__message-text {
    margin: 0;
    font-size: 18px;
  }

  .chat-window__message-user {
    font-size: 12px;
    color: var(--main-color);
    margin-bottom: 5px;
  }
}
