.Button {
  font-size: var(--text-font-size);
  background-color: var(--main-color);
  color: var(--second-color);
  border: none;
  height: var(--button-height);
  cursor: pointer;
}

.Button:hover {
  opacity: 0.8;
}
