.chat-users {
  background-color: var(--main-color);
  width: 30%;
  display: none;
  overflow-y: scroll;
  border-top: 4px solid var(--second-color);
  border-left: 4px solid var(--second-color);
  border-bottom: 4px solid var(--second-color);
  box-sizing: border-box;
}

.chat-users__list {
  padding: 0 10px 0 10px;
  margin: 0;
}

.chat-users__list-item {
  color: var(--second-color);
  list-style: none;
  font-size: 15px;
  font-weight: 300;
}

.chat-users__heading {
  color: var(--second-color);
  font-size: var(--heading-font-size);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .chat-users {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .chat-users__heading {
    font-size: 23px;
  }

  .chat-users__list-item {
    font-size: 18px;
  }
}
