.login {
  display: flex;
  flex-direction: column;
}

.login__heading {
  top: 0;
  left: 20px;
  position: absolute;
  text-align: center;
  color: #fff;
}

.login__content {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 15px;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.login__form {
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.login__form-heading {
  margin: 0 0 10px 0;
  text-align: center;
  color: royalblue;
  font-weight: 500;
  font-size: 25px;
}

.login__submit:hover {
  opacity: 0.6;
}
