body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-font-size: 2vh;
  --heading-font-size: 4vh;
  --date-font-size: 1vh;

  --button-height: 5vh;

  --main-color: #fff;
  --second-color: royalblue;
  --gray-color: #f4f4f3;
  --black-color: #000;
  --chat-window-color: #e9e7ea;
}
